/* apply universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none;
}

/* styles for buttons */
button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

/* styles for root stack element */
.MuiStack-root {
  position: fixed;
  z-index: 1;
  touch-action: none;
}

/* hide Leaflet routing control on mobile devices */
@media (max-width: 768px) {
  .leaflet-control-container .leaflet-routing-container-hide {
    display: none;
  }
}

table {
  display: none;
}

h3 {
  display: none;
}

h2 {
  display: none;
}
