* {
   box-sizing: border-box;
 }
 
 .searchBox {
   background-color: #343331;
   padding: .5rem;
   height: 7vh;
 }
 
 .searchBox input[type="text"] {
   width: 100%;
   height: 100%;
   border: none;
   font-size: 1.2rem;
   color: #fff;
   background-color: transparent;
   outline: none;
   margin: 0;
   padding: 0;
 }
 
 .searchBox .geoapify-autocomplete-items {
   position: absolute;
   top: 100%;
   z-index: 1;
   width: 100%;
   background-color: #fff;
   max-height: 50vh;
   overflow-y: auto;
   border: 1px solid #ddd;
   border-top: none;
 }
 
 .searchBox .geoapify-autocomplete-item {
   padding: .5rem;
   font-size: 1.2rem;
   color: #333;
   cursor: pointer;
 }
 
 .searchBox .geoapify-autocomplete-item:hover {
   background-color: #ddd;
 }
 
 .searchBox .geoapify-autocomplete-item.selected {
   background-color: #f2f2f2;
 }
 
 .searchBox .geoapify-close-button {
   color: #fff;
   position: absolute;
   top: 50%;
   right: .5rem;
   transform: translateY(-50%);
 }
 