* {
  position: relative;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .geocoder-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    top: .4vh;
    align-content: center;
    z-index: 1;  
    width: 67vw; 
  }
  
  .searchBox {
    align-items: center;
    background-color: #333;
    position: relative;
    padding: .5rem;
    height: 7vh;
  }
  
  .geoapify-close-button {
    color: white;
  }
  
  .geoapify-autocomplete-items {
    z-index: 1;
    width: calc(100% - 40px);
  }
  
  .geoapify-autocomplete-item {
    z-index: 1;
  }
}

@media only screen and (min-width: 768px) {
  .geocoder-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 1vh;
    align-items: center;
    align-content: center;
    z-index: 1;   
  }
  
  .searchBox {
    width: 60vw;
    vertical-align: center;
    background-color: #333;
    padding: .5rem;
    height: 7vh;
  }
  
  .geoapify-close-button {
    color: white;
  }
  
  .geoapify-autocomplete-items {
    z-index: 1;
    width: calc(100% - 40px);
  }
  
  .geoapify-autocomplete-item {
    z-index: 1;
  }
}

