.searchBox {
   width: 75vw;
   background-color: #333;
   position: relative;
   padding: .5rem;
   height: 7vh;
}

.geoapify-close-button {
   color: white;
}

.geoapify-autocomplete-items {
   position: relative;

}